@import './base.css';
html,
body,
#page {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  font:
    1.2em 'Roboto',
    sans-serif;
  background: #505750;
  color: #ffffff;
}

#page {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 1rem 1rem 0;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  color: ghostwhite;
}

#content {
  flex: 1 5 auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
}

.content-block > h2 {
  text-transform: uppercase;
}

.content-block {
  margin: 0 1rem 0 1rem;
  padding: 2rem 2rem;
  display: inline-block;
  position: relative;
  border: 2px solid #fff; /* White border inside the blocks */
  border-radius: 6px; /* Adjust the radius to match the outer block's border */
}

.content-block::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background-color: #5454fb;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

main {
  flex: 10 1 0;
}

main h2 {
  margin: 1.4rem 0 1.2rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8f854;
}

main h2:first-child {
  margin: 0 0 1.2rem 0;
}

main.content-block {
  display: flex;
  flex-flow: column nowrap;
}

main.content-block table {
  align-self: center;
}

.label {
  font-weight: bold;
}

/* Form */
form {
  margin-top: -10px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='checkbox'],
input[type='radio'],
textarea {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
}

textarea {
  padding: 0.4rem 0.5rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

/* Additional styling for checkboxes and radio buttons */
input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  margin-right: 0.9rem;
}

.btn {
  display: inline-block;
  padding: 5px 3rem;
  margin: 5px;
  background-color: #aaaaaa;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.buttons-margin {
  margin-top: 1rem;
}

.form-fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.form-field {
  margin-right: 3rem;
}

.form-field:last-child {
  margin-top: 0;
}

/* end Form */

/* Table */
table {
  font-family: 'Courier New', monospace;
  border-collapse: collapse;
  border: 2px solid #5b88b6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 95%;
}

th,
td {
  border: 1px solid #5b88b6;
  padding: 8px;
  text-align: center;
  font-weight: normal;
}

.top-row {
  background-color: #5b88b6;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
}

.data-row:nth-child(odd) {
  background-color: #5b88b6;
}

.data-row:nth-child(even) {
  background-color: #4682b4;
}

table a {
  color: #ffffff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 1600px) {
  table {
    width: 100%;
  }

  td,
  th {
    display: block;
  }

  td {
    text-align: left;
  }

  .top-row,
  .data-row {
    display: flex;
    flex-wrap: wrap;
  }

  .top-row > *,
  .data-row > * {
    flex: 1 1 100%;
  }
}

/* end Table */

@media all and (max-width: 900px) {
  #content {
    flex-flow: column nowrap;
  }

  #content .content-block {
    margin: 1rem 0 1rem 0;
  }

  main {
    flex: 10 1 0;
  }
}
